@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$CorDasLetras;
    transition: background-color .5s ease;

    &--is-hideen {
        background-color: transparent;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;
        color: rgb(229, 9, 20);
        fill: currentColor;
        display: block;
        font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    }

    &__links {
        display: flex;
        &__item {
            background: blue;
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button {
        height: 50px;
    }
}


.footer__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
}

.language-selector {
    display: flex;
    align-items: center;
    img {
        height: 18px;
        width: 18px;
    }
}